@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


.jost {
    font-family: 'Jost', sans-serif;
}

/* scroll */
/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #38383f;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-primary/90 rounded-full h-[60px] hover:bg-primary;
  }

div,
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.vjs-poster {
    background-size:cover;
}

.bg-merges-top {
    background: linear-gradient(to bottom, rgba(39, 39, 42, 1),rgba(39, 39, 42,0));
}

.bg-merges-bottom {
    background: linear-gradient(to top, rgba(39, 39, 42, 1),rgba(39, 39, 42,0));
}

.bg-merges-right {
    background: linear-gradient(to left, rgba(39, 39, 42, 1),rgba(39, 39, 42,0));
}

.bg-merges-left {
    background: linear-gradient(to right, rgba(39, 39, 42, 1),rgba(39, 39, 42,0));
}
  
.nav-active {
    @apply lg:border-b-2 border-primary border-dashed;
}
.nav-active span {
    @apply text-primary;
}

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-primary;
}

.hamburger-active > span:nth-child(1){
    @apply rotate-45;
}
.hamburger-active > span:nth-child(2){
    @apply  -translate-x-4 scale-0;
}
.hamburger-active > span:nth-child(3){
    @apply -rotate-45;
}

.button {
    @apply px-3 py-2 text-dark bg-primary rounded shadow-xl hover:shadow-primary/20 flex space-x-1 items-center font-semibold transition-all duration-300 ease-linear;
}

.button-disable {
    @apply px-3 py-2 bg-dark text-primary rounded shadow-xl hover:shadow-black/50 flex space-x-1 items-center  transition-all duration-300 ease-linear;
}

.y-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: radial-gradient(farthest-side,#facc15 94%,#0000) top/5px 5px no-repeat,
            conic-gradient(#0000 30%,#facc15);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 5px),#000 0);
    animation: spinner-c7wet2 1.2s infinite linear;
}

.y-loader-small {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: radial-gradient(farthest-side,#facc15 94%,#0000) top/3px 3px no-repeat,
            conic-gradient(#0000 30%,#facc15);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 3px),#000 0);
    animation: spinner-c7wet2 1.2s infinite linear;
}

@keyframes spinner-c7wet2 {
   100% {
      transform: rotate(1turn);
   }
}